<% if @category.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t "errors.contain" %>
      <%= pluralize @category.errors.count, t("errors.err") %>.
    </div>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
