$white: #fff;
$background: #eee;
$contact: #f7f7f7;
$green: #27ae60;
$black: #2c2c54;
$header: #333;
$home_span: #666;
$product_icon: rgba(0,0,0,.05);
$product_box1: rgba(0,0,0,.3);
$product_box: rgba(16, 194, 16, 0.404);
$product_price: #999;
$product_count: rgba(0,0,0,.1);
$product: gold;
$grey: #bbb;
$red: red;
