@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";

*{
  font-family: "Nunito", sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  transition: all .1s linear;
}

*::selection{
  background: $green;
  color: $white;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background: $green;
  color: $white;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background: $black;
  color: $white;
}

.heading{
  text-align: center;
  color: $black;
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span{
  color: $green;
  text-transform: uppercase;
}

.header-1{
  background: $background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

.logo{
  color: $black;
  font-weight: bolder;
  font-size: 3rem;
}

.logo i{
  padding-right: .5rem;
  color: $green;
}

.header-1 .search-box-container{
  display: flex;
  height:5rem;
}

.header-1 .search-box-container #search-box{
  height: 100%;
  width:100%;
  padding:16px;
  font-size: 15px;
  color: $header;
  border:.1rem solid $product_box1;
  border-radius: 5px 0 0 5px;
}

.header-1 .search-box-container label{
  height: 34px;
  width: 60px;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  line-height: 5rem;
  color: $white;
  background: $green;
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label .search{
  margin-bottom: 4px;
}

.header-1 .search-box-container label:hover{
  background: $black;
}

.header-2{
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px $product_box;
}

.header-2 .navbar{
  margin-bottom: 0;
  margin-right: 12px;
}

.header-2 .navbar a{
  padding: 0 5px;
  font-size: 2rem;
  color: $black;
  line-height: 50px;
  display: inline-block;
}

.header-2 .navbar a:hover{
  background: $green;
  color: $white;
  text-decoration: none;
}

.header-2 .icons{
  margin-right: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  list-style: none;
  position: relative;  
}

.header-2 .icons .icon_header{
  font-size: 18px;
  cursor: pointer;
  
}

.header-2 .icons .icon_header:hover{
  transform: scale(1.2);
}
.icons .account{
  position: absolute;
  top: 25px;
  left: -130px;
}

// signup and login

input, textarea, select, .uneditable-input {
  border: 1px solid $grey;
  width: 100%;
  margin-bottom: 15px;
  padding: 4px;
  border-radius: 5px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
  color: $red;
  margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $red;
  }
}

.container_signup,
.container_login{
  margin-top: 24px;
}

.signup,
.login{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.btn_register,
.btn_login{
  display: block;
  width: 100%;
  margin: 8px auto;
}
