@import "color";

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
  flex:1 1 40rem;
  padding-top: 5rem;
}

.home .image img{
  width:100%;
}

.home .content{
  flex:1 1 40rem;
}

.home .content span{
  font-size: 3rem;
  color: $home_span;
}

.home .content h3{
  font-size: 5rem;
  color: $black;
}

.banner-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.banner-container .banner .content{
  position: absolute;
  top:50%; left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3{
  font-size: 3rem;
  color: $black;
}

.banner-container .banner .content p{
  font-size: 2rem;
  color: $header;
}

.banner-container .banner:hover img{
  transform:scale(1.2) rotate(-5deg);
}

.category .box-container{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.category .box-container .box{
  border:.1rem solid $product_box1;
  border-radius: .5rem;
  text-align: center;
  padding:2rem;
  flex:1 1 25rem;
}

.category .box-container .box img{
  width: 20rem;
  margin:.5rem 0;
}

.category .box-container .box h3{
  font-size: 3.5rem;
  color: $black;
}

.category .box-container .box p{
  font-size: 2rem;
  color: $home_span;
  padding:.5rem 0;
}

.category .box-container .box .btn{
  display: block;
}

.product .box-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
}

.product .box-container .box{
  text-align: center;
  padding:2rem;
  border:.1rem solid $product_box1;
  border-radius: .5rem;
  overflow: hidden;
  width: calc(100%/3 - 25px);
  margin-left: 25px;
  margin-bottom: 25px;
}

.product .box-container .box img{
  height: 20rem;
  object-fit: cover;
}

.product .box-container .box h3{
  color: $black;
  font-size: 2.5rem;
}

.product .box-container .box .stars i{
  padding:1rem .1rem;
  font-size: 1.7rem;
  color: $product;
}

.product .box-container .box .price{
  font-size: 2rem;
  color: $header;
  padding:.5rem 0;
}

.product .box-container .box .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
  padding:0 .7rem;
  font-size: 1.7rem;
  min-width: 80px;
}

.product .box-container .box .quantity input{
  border:.1rem solid $product_box1;
  font-size: 1.5rem;
  font-weight: bolder;
  color: $black;
  background: $product_icon;
  margin-bottom: 0;
  padding-left: 12px;
  width: 50px;

}

.product .box-container .box .quantity .icon_cart{
  font-size: 18px;
  color: $red;
  margin: 0 25px;
  cursor: pointer;
}

.product .box-container .box .quantity .icon_cart:hover{
  transform: scale(1.2);
}

.product .box-container .box .btn{
  display: block;
  margin-top: 20px;
}

.contact form{
  text-align: center;
  padding:2rem;
  border:.1rem solid $product_box1;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
  padding:1rem;
  font-size: 1.7rem;
  background: $contact;
  text-transform: none;
  margin:1rem 0;
  border:.1rem solid $product_box1;
  width: 49%;
}

.contact form textarea{
  height: 20rem;
  resize: none;
  width: 100%;
}

.footer{
  margin-top: 100px;
  border-top: 1px solid $grey;
  background-color: #010D29;
}

.footer .box-container{
  display: flex;
  gap:1.5rem;
  align-items: start;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box > a{
  color: $grey;
  text-decoration: none;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: $grey;
}

.footer .box-container .box p{
  font-size: 1.3rem;
  color: $grey;
  padding:.7rem 0;
}

.footer .box-container .box .links{
  padding:1rem 0;
}

.footer .box-container .box .links a{
  display: block;
  padding:.5rem 0;
  font-size: 1.7rem;
  color: $grey;
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color: $green;
}

.footer .credit{
  padding:2.5rem 1rem;
  border-top: .1rem solid $product_box;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span{
  color: $green;
}

/* media queries  */
@media(max-width:1200px){
  html{
    font-size: 55%;
  }
}

@media(max-width:991px){
  .header-1,
  .header-2{
    padding:2rem;
  }

  section{
    padding:2rem;
  }
}

@media(max-width:768px){
  #menu-bar{
    display: initial;
  }

  .header-2 .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: $black;
    padding:1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active{
    display: initial;
  }

  .header-2 .navbar a{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background: $white;
    padding:1rem;
    margin:1.5rem 0;
  }

  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }

  .contact form .inputBox input{
    width:100%;
  }

  .newsletter h3{
    font-size: 2.2rem;
  }
}

@media(max-width:450px){
  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .header-1{
    flex-flow: column;
  }

  .header-1 .search-box-container{
    width:100%;
    margin-top: 2rem;
  }

  .logo{
    font-size: 4rem;
  }

  .deal .content .count-down .box h3{
    font-size: 4rem;
  }
  
  .deal .content .count-down .box span{
    font-size: 1.5rem;
  }
}
